html, body { 
    height: 100%; 
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

body {
    display: flex;
}


#recording-list-view {
    width: 25%;
    border-right: 1px solid black;
}

#recording-list {
    list-style: none;
}


#map-view {
    width: 75%;
    border-left: 1px solid black;
}

#map-canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


#hud {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none
}

#hud button {
    pointer-events: all;
}

#time {
    position: fixed;
    bottom: 0;
    right: 0;
}

#time-control {
    display: flex;
}



.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}